div1
{
	width: 400px;
	height: 400px;
	background-color: red;
	
}
div2
{
	width: 400px;
	height: 400px;
		background-color: green;

}div3
{
	width: 400px;
	height: 400px;
		background-color: yellow;

	
}
body 
{
  background-color: #ffffcc;
  margin-left: 10px;
  margin-right: 10px;
	margin-bottom: 200px;
	margin-top: 20px;
	border-style: solid;
	border-width: 10px;
	padding: 30px
}
