div.1
{
	width: 400px;
	height: 400px;
	background-color: red;
	
}
div.2
{
	width: 400px;
	height: 400px;
	background-color: green;
}
div.3
{
	width: 400px;
	height: 400px;
	background-color: yellow;
}
